In [1]:
import pandas as pd 
import numpy as np

In [6]:
Employee = pd.read_csv("C:/Users/LOQ/Desktop/HR/Employee.csv")
performance = pd.read_csv("C:/Users/LOQ/Desktop/HR/PerformanceRating.csv")
ratings = pd.read_csv("C:/Users/LOQ/Desktop/HR/RatingLevel.csv")
satisfaction = pd.read_csv("C:/Users/LOQ/Desktop/HR/SatisfiedLevel.csv")
education = pd.read_csv("C:/Users/LOQ/Desktop/HR/EducationLevel.csv")

print(Employee.head())

Employee.shape

In [10]:
Employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               1470 non-null   object
 1   FirstName                1470 non-null   object
 2   LastName                 1470 non-null   object
 3   Gender                   1470 non-null   object
 4   Age                      1470 non-null   int64
 5   BusinessTravel           1470 non-null   object
 6   Department               1470 non-null   object
 7   DistanceFromHome (KM)    1470 non-null   int64
 8   State                    1470 non-null   object
 9   Ethnicity                1470 non-null   object
 10  Education                1470 non-null   int64
 11  EducationField           1470 non-null   object
 12  JobRole                  1470 non-null   object
 13  MaritalStatus            1470 non-null   object
 14  Salary                   1470 non-null   int64
 15  StockOptionLevel         1470 non-null   int64
 16  OverTime                 1470 non-null   object
 17  HireDate                 1470 non-null   object
 18  Attrition                1470 non-null   object
 19  YearsAtCompany           1470 non-null   int64
 20  YearsInMostRecentRole    1470 non-null   int64
 21  YearsSinceLastPromotion  1470 non-null   int64
 22  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(9), object(14)
memory usage: 264.3+ KB

In [12]:
performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6709 entries, 0 to 6708
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   PerformanceID                    6709 non-null   object
 1   EmployeeID                       6709 non-null   object
 2   ReviewDate                       6709 non-null   object
 3   EnvironmentSatisfaction          6709 non-null   int64
 4   JobSatisfaction                  6709 non-null   int64
 5   RelationshipSatisfaction         6709 non-null   int64
 6   TrainingOpportunitiesWithinYear  6709 non-null   int64
 7   TrainingOpportunitiesTaken       6709 non-null   int64
 8   WorkLifeBalance                  6709 non-null   int64
 9   SelfRating                       6709 non-null   int64
 10  ManagerRating                    6709 non-null   int64
dtypes: int64(8), object(3)
memory usage: 576.7+ KB

ratings.info()

In [14]:
satisfaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SatisfactionID     5 non-null      int64
 1   SatisfactionLevel  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [15]:
education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EducationLevelID  5 non-null      int64
 1   EducationLevel    5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [17]:
for col in Employee.select_dtypes(include="object").columns:
    Employee[col] = Employee[col].str.strip()

In [19]:
Employee["HireDate"] = pd.to_datetime(Employee["HireDate"], format="%Y-%m-%d", errors="coerce")

In [20]:
Employee.head()

,EmployeeID,FirstName,LastName,Gender,Age,BusinessTravel,Department,DistanceFromHome (KM),State,Ethnicity,...,MaritalStatus,Salary,StockOptionLevel,OverTime,HireDate,Attrition,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,...,Divorced,102059,1,No,2012-01-03,No,10,4,9,7
1,CBCB-9C9D,Leonerd,Aland,Male,38,Some Travel,Sales,23,CA,White,...,Single,157718,0,Yes,2012-01-04,No,10,6,10,0
2,95D7-1CE9,Ahmed,Sykes,Male,43,Some Travel,Human Resources,29,CA,Asian or Asian American,...,Married,309964,1,No,2012-01-04,No,10,6,10,8
3,47A0-559B,Ermentrude,Berrie,Non-Binary,39,Some Travel,Technology,12,IL,White,...,Married,293132,0,No,2012-01-05,No,10,10,10,0
4,42CC-040A,Stace,Savege,Female,29,Some Travel,Human Resources,29,CA,White,...,Single,49606,0,No,2012-01-05,Yes,6,1,1,6

In [21]:
Employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               1470 non-null   object
 1   FirstName                1470 non-null   object
 2   LastName                 1470 non-null   object
 3   Gender                   1470 non-null   object
 4   Age                      1470 non-null   int64
 5   BusinessTravel           1470 non-null   object
 6   Department               1470 non-null   object
 7   DistanceFromHome (KM)    1470 non-null   int64
 8   State                    1470 non-null   object
 9   Ethnicity                1470 non-null   object
 10  Education                1470 non-null   int64
 11  EducationField           1470 non-null   object
 12  JobRole                  1470 non-null   object
 13  MaritalStatus            1470 non-null   object
 14  Salary                   1470 non-null   int64
 15  StockOptionLevel         1470 non-null   int64
 16  OverTime                 1470 non-null   object
 17  HireDate                 1470 non-null   datetime64[ns]
 18  Attrition                1470 non-null   object
 19  YearsAtCompany           1470 non-null   int64
 20  YearsInMostRecentRole    1470 non-null   int64
 21  YearsSinceLastPromotion  1470 non-null   int64
 22  YearsWithCurrManager     1470 non-null   int64
dtypes: datetime64[ns](1), int64(9), object(13)
memory usage: 264.3+ KB

In [22]:
Employee.duplicated().sum()

np.int64(0)

In [30]:
performance["ReviewDate"] = pd.to_datetime(performance["ReviewDate"], format="%Y-%m-%d", errors="coerce")

In [25]:
performance.duplicated().sum()

np.int64(0)

In [26]:
Employee.isnull().sum()

EmployeeID                 0
FirstName                  0
LastName                   0
Gender                     0
Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome (KM)      0
State                      0
Ethnicity                  0
Education                  0
EducationField             0
JobRole                    0
MaritalStatus              0
Salary                     0
StockOptionLevel           0
OverTime                   0
HireDate                   0
Attrition                  0
YearsAtCompany             0
YearsInMostRecentRole      0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [29]:
performance.isnull().sum()

PerformanceID                         0
EmployeeID                            0
ReviewDate                         6709
EnvironmentSatisfaction               0
JobSatisfaction                       0
RelationshipSatisfaction              0
TrainingOpportunitiesWithinYear       0
TrainingOpportunitiesTaken            0
WorkLifeBalance                       0
SelfRating                            0
ManagerRating                         0
dtype: int64

In [31]:
performance.head()

,PerformanceID,EmployeeID,ReviewDate,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating
0,PR01,79F7-78EC,NaT,5,4,5,1,0,4,4,4
1,PR02,B61E-0F26,NaT,5,4,4,1,3,4,4,3
2,PR03,F5E3-48BB,NaT,3,4,5,3,2,3,5,4
3,PR04,0678-748A,NaT,5,3,2,2,0,2,3,2
4,PR05,541F-3E19,NaT,5,2,3,1,0,4,4,3

In [32]:
print(performance["ReviewDate"].head(10))

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
5   NaT
6   NaT
7   NaT
8   NaT
9   NaT
Name: ReviewDate, dtype: datetime64[ns]

In [33]:
performance["ReviewDate"] = pd.to_datetime(performance["ReviewDate"], errors="coerce", dayfirst=True,)

In [34]:
print(performance["ReviewDate"].head(10))

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
5   NaT
6   NaT
7   NaT
8   NaT
9   NaT
Name: ReviewDate, dtype: datetime64[ns]

In [35]:
print(performance["ReviewDate"].unique()[:20])

<DatetimeArray>
['NaT']
Length: 1, dtype: datetime64[ns]

In [36]:
performance = pd.read_csv("C:/Users/LOQ/Desktop/HR/PerformanceRating.csv")

In [37]:
performance.head()

,PerformanceID,EmployeeID,ReviewDate,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating
0,PR01,79F7-78EC,1/2/2013,5,4,5,1,0,4,4,4
1,PR02,B61E-0F26,1/3/2013,5,4,4,1,3,4,4,3
2,PR03,F5E3-48BB,1/3/2013,3,4,5,3,2,3,5,4
3,PR04,0678-748A,1/4/2013,5,3,2,2,0,2,3,2
4,PR05,541F-3E19,1/4/2013,5,2,3,1,0,4,4,3

In [38]:
performance["ReviewDate"] = pd.to_datetime(performance["ReviewDate"], errors="coerce", dayfirst=True)

In [39]:
performance.head()

,PerformanceID,EmployeeID,ReviewDate,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating
0,PR01,79F7-78EC,2013-02-01,5,4,5,1,0,4,4,4
1,PR02,B61E-0F26,2013-03-01,5,4,4,1,3,4,4,3
2,PR03,F5E3-48BB,2013-03-01,3,4,5,3,2,3,5,4
3,PR04,0678-748A,2013-04-01,5,3,2,2,0,2,3,2
4,PR05,541F-3E19,2013-04-01,5,2,3,1,0,4,4,3

In [40]:
performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6709 entries, 0 to 6708
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   PerformanceID                    6709 non-null   object
 1   EmployeeID                       6709 non-null   object
 2   ReviewDate                       2612 non-null   datetime64[ns]
 3   EnvironmentSatisfaction          6709 non-null   int64
 4   JobSatisfaction                  6709 non-null   int64
 5   RelationshipSatisfaction         6709 non-null   int64
 6   TrainingOpportunitiesWithinYear  6709 non-null   int64
 7   TrainingOpportunitiesTaken       6709 non-null   int64
 8   WorkLifeBalance                  6709 non-null   int64
 9   SelfRating                       6709 non-null   int64
 10  ManagerRating                    6709 non-null   int64
dtypes: datetime64[ns](1), int64(8), object(2)
memory usage: 576.7+ KB

In [42]:
performance["ReviewDate"].unique()

<DatetimeArray>
['2013-02-01 00:00:00', '2013-03-01 00:00:00', '2013-04-01 00:00:00',
 '2013-08-01 00:00:00', '2013-10-01 00:00:00', '2013-11-01 00:00:00',
 '2013-10-04 00:00:00',                 'NaT', '2013-12-04 00:00:00',
 '2016-01-04 00:00:00',
 ...
 '2013-06-04 00:00:00', '2016-04-03 00:00:00', '2016-05-03 00:00:00',
 '2016-06-03 00:00:00', '2013-07-04 00:00:00', '2016-07-03 00:00:00',
 '2016-09-03 00:00:00', '2016-10-03 00:00:00', '2016-11-03 00:00:00',
 '2016-12-03 00:00:00']
Length: 1078, dtype: datetime64[ns]

In [43]:
performance["ReviewDate"].isna().sum()

np.int64(4097)

In [45]:
performance = pd.read_csv("C:/Users/LOQ/Desktop/HR/PerformanceRating.csv")

In [46]:
performance["ReviewDate"] = pd.to_datetime(
    performance["ReviewDate"], 
    errors="coerce", 
    dayfirst=False
)

In [47]:
performance["ReviewDate"].isna().sum()

np.int64(0)

In [50]:
ratings.isna().sum()

RatingID       0
RatingLevel    0
dtype: int64

In [51]:
satisfaction.isna().sum()

SatisfactionID       0
SatisfactionLevel    0
dtype: int64

In [52]:
performance.isna().sum()

PerformanceID                      0
EmployeeID                         0
ReviewDate                         0
EnvironmentSatisfaction            0
JobSatisfaction                    0
RelationshipSatisfaction           0
TrainingOpportunitiesWithinYear    0
TrainingOpportunitiesTaken         0
WorkLifeBalance                    0
SelfRating                         0
ManagerRating                      0
dtype: int64

In [55]:
emp_edu = pd.merge(
    Employee, 
    education, 
    left_on="Education", 
    right_on="EducationLevelID", 
    how="left"
)

In [56]:
emp_edu.head()

,EmployeeID,FirstName,LastName,Gender,Age,BusinessTravel,Department,DistanceFromHome (KM),State,Ethnicity,...,StockOptionLevel,OverTime,HireDate,Attrition,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager,EducationLevelID,EducationLevel
0,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,...,1,No,2012-01-03,No,10,4,9,7,5,Doctorate
1,CBCB-9C9D,Leonerd,Aland,Male,38,Some Travel,Sales,23,CA,White,...,0,Yes,2012-01-04,No,10,6,10,0,4,Masters
2,95D7-1CE9,Ahmed,Sykes,Male,43,Some Travel,Human Resources,29,CA,Asian or Asian American,...,1,No,2012-01-04,No,10,6,10,8,4,Masters
3,47A0-559B,Ermentrude,Berrie,Non-Binary,39,Some Travel,Technology,12,IL,White,...,0,No,2012-01-05,No,10,10,10,0,3,Bachelors
4,42CC-040A,Stace,Savege,Female,29,Some Travel,Human Resources,29,CA,White,...,0,No,2012-01-05,Yes,6,1,1,6,2,High School

In [66]:
perf_env = pd.merge(
    performance,
    satisfaction,
    left_on="EnvironmentSatisfaction",
    right_on="SatisfactionID",
    how="left"
).rename(columns={"SatisfactionLevel": "EnviromentSatisfactionLevel"})

In [67]:
perf_job = pd.merge(
    performance,
    satisfaction,
    left_on="JobSatisfaction",
    right_on="SatisfactionID",
    how="left"
).rename(columns={"SatisfactionLevel": "JobSatisfactionLevel"})

In [68]:
perf_Relation = pd.merge(
    performance,
    satisfaction,
    left_on="RelationshipSatisfaction",
    right_on="SatisfactionID",
    how="left"
).rename(columns={"SatisfactionLevel": "RelationshipSatisfactionLevel"})

In [69]:
perf_worklife = pd.merge(
    performance,
    satisfaction,
    left_on="WorkLifeBalance",
    right_on="SatisfactionID",
    how="left"
).rename(columns={"SatisfactionLevel": "worklifebalancesatisfaction"})

In [71]:
perf_with_self = pd.merge(
    perf_worklife,
    ratings,
    left_on="SelfRating",
    right_on="RatingID",
    how="left"
).rename(columns={"RatingLevel": "SelfRatingLevel"})

In [72]:
perf_all = pd.merge(
    perf_with_self,
    ratings,
    left_on="ManagerRating",
    right_on="RatingID",
    how="left"
).rename(columns={"RatingLevel": "SelfRatingLevel"})

In [73]:
perf_all.head()

,PerformanceID,EmployeeID,ReviewDate,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating,SatisfactionID,worklifebalancesatisfaction,RatingID_x,SelfRatingLevel,RatingID_y,SelfRatingLevel
0,PR01,79F7-78EC,2013-01-02,5,4,5,1,0,4,4,4,4,Satisfied,4,Exceeds Expectation,4,Exceeds Expectation
1,PR02,B61E-0F26,2013-01-03,5,4,4,1,3,4,4,3,4,Satisfied,4,Exceeds Expectation,3,Meets Expectation
2,PR03,F5E3-48BB,2013-01-03,3,4,5,3,2,3,5,4,3,Neutral,5,Above and Beyond,4,Exceeds Expectation
3,PR04,0678-748A,2013-01-04,5,3,2,2,0,2,3,2,2,Dissatisfied,3,Meets Expectation,2,Needs Improvement
4,PR05,541F-3E19,2013-01-04,5,2,3,1,0,4,4,3,4,Satisfied,4,Exceeds Expectation,3,Meets Expectation

In [70]:
perf_all.head()

,PerformanceID,EmployeeID,ReviewDate,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating,SatisfactionID,SatisfactionLevel,RatingID_x,SelfRatingLevel,RatingID_y,SelfRatingLevel
0,PR01,79F7-78EC,2013-01-02,5,4,5,1,0,4,4,4,4,Satisfied,4,Exceeds Expectation,4,Exceeds Expectation
1,PR02,B61E-0F26,2013-01-03,5,4,4,1,3,4,4,3,4,Satisfied,4,Exceeds Expectation,3,Meets Expectation
2,PR03,F5E3-48BB,2013-01-03,3,4,5,3,2,3,5,4,3,Neutral,5,Above and Beyond,4,Exceeds Expectation
3,PR04,0678-748A,2013-01-04,5,3,2,2,0,2,3,2,2,Dissatisfied,3,Meets Expectation,2,Needs Improvement
4,PR05,541F-3E19,2013-01-04,5,2,3,1,0,4,4,3,4,Satisfied,4,Exceeds Expectation,3,Meets Expectation

In [74]:
perf_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6709 entries, 0 to 6708
Data columns (total 17 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   PerformanceID                    6709 non-null   object
 1   EmployeeID                       6709 non-null   object
 2   ReviewDate                       6709 non-null   datetime64[ns]
 3   EnvironmentSatisfaction          6709 non-null   int64
 4   JobSatisfaction                  6709 non-null   int64
 5   RelationshipSatisfaction         6709 non-null   int64
 6   TrainingOpportunitiesWithinYear  6709 non-null   int64
 7   TrainingOpportunitiesTaken       6709 non-null   int64
 8   WorkLifeBalance                  6709 non-null   int64
 9   SelfRating                       6709 non-null   int64
 10  ManagerRating                    6709 non-null   int64
 11  SatisfactionID                   6709 non-null   int64
 12  worklifebalancesatisfaction      6709 non-null   object
 13  RatingID_x                       6709 non-null   int64
 14  SelfRatingLevel                  6709 non-null   object
 15  RatingID_y                       6709 non-null   int64
 16  SelfRatingLevel                  6709 non-null   object
dtypes: datetime64[ns](1), int64(11), object(5)
memory usage: 891.2+ KB