In [5]:
import pandas as pd

emp = pd.read_csv("C:/Users/LOQ/Desktop/empcleaned.csv")
perf = pd.read_csv("C:/Users/LOQ/Desktop/perfcleaned1.csv")
emp.columns = emp.columns.str.strip()
perf.columns = perf.columns.str.strip()

In [6]:

print("Employees Table:")
print(emp.info())
print(emp.head())

print("\nPerformance Table:")
print(perf.info())
print(perf.head())

Employees Table:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               1470 non-null   object
 1   FirstName                1470 non-null   object
 2   LastName                 1470 non-null   object
 3   Gender                   1470 non-null   object
 4   Age                      1470 non-null   int64
 5   BusinessTravel           1470 non-null   object
 6   Department               1470 non-null   object
 7   DistanceFromHome (KM)    1470 non-null   int64
 8   State                    1470 non-null   object
 9   Ethnicity                1470 non-null   object
 10  EducationField           1470 non-null   object
 11  JobRole                  1470 non-null   object
 12  MaritalStatus            1470 non-null   object
 13  Salary                   1470 non-null   int64
 14  StockOptionLevel         1470 non-null   int64
 15  OverTime                 1470 non-null   object
 16  HireDate                 1470 non-null   object
 17  Attrition                1470 non-null   object
 18  YearsAtCompany           1470 non-null   int64
 19  YearsInMostRecentRole    1470 non-null   int64
 20  YearsSinceLastPromotion  1470 non-null   int64
 21  YearsWithCurrManager     1470 non-null   int64
 22  EducationLevel.txt       1470 non-null   object
dtypes: int64(8), object(15)
memory usage: 264.3+ KB
None
  EmployeeID FirstName  LastName  Gender  Age BusinessTravel  Department  \
0  C08F-94F9     Nikos  Karpenko    Male   26    Some Travel  Technology
1  ADF8-AD57      Trip   Bennell    Male   27    Some Travel  Technology
2  6C42-A719      Bird    Libbey  Female   22    Some Travel  Technology
3  D014-7DB2     Dolli   Dodgson  Female   20    Some Travel       Sales
4  FD95-9EEB     Sasha   Incogna    Male   30    Some Travel  Technology

   DistanceFromHome (KM) State Ethnicity  ... Salary StockOptionLevel  \
0                     32    NY     White  ...  40100                0
1                     28    CA     White  ...  20387                0
2                     37    NY     White  ...  30442                0
3                     16    NY     White  ...  35754                0
4                     19    IL     White  ...  96187                0

  OverTime    HireDate  Attrition YearsAtCompany YearsInMostRecentRole  \
0      Yes   7/30/2015        Yes              0                     0
1       No   8/16/2016        Yes              0                     0
2      Yes   3/11/2020        Yes              0                     0
3       No   8/24/2020        Yes              0                     0
4      Yes  11/19/2020        Yes              0                     0

  YearsSinceLastPromotion  YearsWithCurrManager  EducationLevel.txt
0                       0                     0           Bachelors
1                       0                     0           Bachelors
2                       0                     0           Bachelors
3                       0                     0           Bachelors
4                       0                     0             Masters

[5 rows x 23 columns]

Performance Table:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6709 entries, 0 to 6708
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   PerformanceID                    6709 non-null   object
 1   EmployeeID                       6709 non-null   object
 2   ReviewDate                       6709 non-null   object
 3   TrainingOpportunitiesWithinYear  6709 non-null   int64
 4   TrainingOpportunitiesTaken       6709 non-null   int64
 5   EnviromentSatisfactionLevel      6709 non-null   object
 6   JobSatisfactionLevel             6709 non-null   object
 7   RelationshipSatisfactionLevel    6709 non-null   object
 8   SatisfactionLevel                6709 non-null   object
 9   SelfRatingLevel                  6709 non-null   object
 10  RatingLevel                      6709 non-null   object
dtypes: int64(2), object(9)
memory usage: 576.7+ KB
None
  PerformanceID EmployeeID ReviewDate  TrainingOpportunitiesWithinYear  \
0        PR1079  380E-44B4  4/30/2016                                2
1        PR1087  13E5-2F17   5/4/2016                                3
2        PR1145  64BA-99F0   6/1/2016                                2
3        PR1167  BDC5-51CF  6/21/2016                                1
4        PR1192  E268-61EB  7/10/2016                                3

   TrainingOpportunitiesTaken EnviromentSatisfactionLevel  \
0                           1                     Neutral
1                           0                     Neutral
2                           0                     Neutral
3                           0                     Neutral
4                           1                     Neutral

  JobSatisfactionLevel RelationshipSatisfactionLevel SatisfactionLevel  \
0         Dissatisfied                       Neutral           Neutral
1         Dissatisfied                       Neutral           Neutral
2         Dissatisfied                Very Satisfied           Neutral
3         Dissatisfied                     Satisfied           Neutral
4         Dissatisfied                       Neutral           Neutral

     SelfRatingLevel          RatingLevel
0   Above and Beyond  Exceeds Expectation
1  Meets Expectation    Meets Expectation
2   Above and Beyond     Above and Beyond
3  Meets Expectation    Meets Expectation
4  Meets Expectation    Needs Improvement

In [7]:
for df in [emp, perf]:
    for col in df.select_dtypes(include='object'):
        df[col] = df[col].str.strip()

In [8]:
print("Missing Employee IDs in emp:", emp['EmployeeID'].isna().sum())
print("Missing Employee IDs in perf:", perf['EmployeeID'].isna().sum())

print("Duplicate Employee IDs in emp:", emp['EmployeeID'].duplicated().sum())
print("Duplicate Employee IDs in perf:", perf['EmployeeID'].duplicated().sum())

Missing Employee IDs in emp: 0
Missing Employee IDs in perf: 0
Duplicate Employee IDs in emp: 0
Duplicate Employee IDs in perf: 5429

In [9]:
print(emp.info())
print(perf.info())

# Missing values overview
print(emp.isna().sum())
print(perf.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               1470 non-null   object
 1   FirstName                1470 non-null   object
 2   LastName                 1470 non-null   object
 3   Gender                   1470 non-null   object
 4   Age                      1470 non-null   int64
 5   BusinessTravel           1470 non-null   object
 6   Department               1470 non-null   object
 7   DistanceFromHome (KM)    1470 non-null   int64
 8   State                    1470 non-null   object
 9   Ethnicity                1470 non-null   object
 10  EducationField           1470 non-null   object
 11  JobRole                  1470 non-null   object
 12  MaritalStatus            1470 non-null   object
 13  Salary                   1470 non-null   int64
 14  StockOptionLevel         1470 non-null   int64
 15  OverTime                 1470 non-null   object
 16  HireDate                 1470 non-null   object
 17  Attrition                1470 non-null   object
 18  YearsAtCompany           1470 non-null   int64
 19  YearsInMostRecentRole    1470 non-null   int64
 20  YearsSinceLastPromotion  1470 non-null   int64
 21  YearsWithCurrManager     1470 non-null   int64
 22  EducationLevel.txt       1470 non-null   object
dtypes: int64(8), object(15)
memory usage: 264.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6709 entries, 0 to 6708
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   PerformanceID                    6709 non-null   object
 1   EmployeeID                       6709 non-null   object
 2   ReviewDate                       6709 non-null   object
 3   TrainingOpportunitiesWithinYear  6709 non-null   int64
 4   TrainingOpportunitiesTaken       6709 non-null   int64
 5   EnviromentSatisfactionLevel      6709 non-null   object
 6   JobSatisfactionLevel             6709 non-null   object
 7   RelationshipSatisfactionLevel    6709 non-null   object
 8   SatisfactionLevel                6709 non-null   object
 9   SelfRatingLevel                  6709 non-null   object
 10  RatingLevel                      6709 non-null   object
dtypes: int64(2), object(9)
memory usage: 576.7+ KB
None
EmployeeID                 0
FirstName                  0
LastName                   0
Gender                     0
Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome (KM)      0
State                      0
Ethnicity                  0
EducationField             0
JobRole                    0
MaritalStatus              0
Salary                     0
StockOptionLevel           0
OverTime                   0
HireDate                   0
Attrition                  0
YearsAtCompany             0
YearsInMostRecentRole      0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
EducationLevel.txt         0
dtype: int64
PerformanceID                      0
EmployeeID                         0
ReviewDate                         0
TrainingOpportunitiesWithinYear    0
TrainingOpportunitiesTaken         0
EnviromentSatisfactionLevel        0
JobSatisfactionLevel               0
RelationshipSatisfactionLevel      0
SatisfactionLevel                  0
SelfRatingLevel                    0
RatingLevel                        0
dtype: int64

In [10]:
emp['Salary'] = pd.to_numeric(emp['Salary'], errors='coerce')
emp['YearsAtCompany'] = pd.to_numeric(emp['YearsAtCompany'], errors='coerce')

In [11]:
missing_employees = perf[~perf['EmployeeID'].isin(emp['EmployeeID'])]

print("Performance records not found in Employee table:", missing_employees.shape[0])
missing_employees.head()

Performance records not found in Employee table: 0

Empty DataFrame
Columns: [PerformanceID, EmployeeID, ReviewDate, TrainingOpportunitiesWithinYear, TrainingOpportunitiesTaken, EnviromentSatisfactionLevel, JobSatisfactionLevel, RelationshipSatisfactionLevel, SatisfactionLevel, SelfRatingLevel, RatingLevel]
Index: []

In [12]:
text_cols = ['Department', 'JobRole', 'EducationField']

for col in text_cols:
    emp[col] = emp[col].astype(str).str.strip().str.title()

In [13]:
emp.columns = emp.columns.str.strip()
perf.columns = perf.columns.str.strip()

In [14]:
emp.loc[(emp['JobRole'] == 'Sales Executive') & (emp['Department'] != 'Sales')]

Empty DataFrame
Columns: [EmployeeID, FirstName, LastName, Gender, Age, BusinessTravel, Department, DistanceFromHome (KM), State, Ethnicity, EducationField, JobRole, MaritalStatus, Salary, StockOptionLevel, OverTime, HireDate, Attrition, YearsAtCompany, YearsInMostRecentRole, YearsSinceLastPromotion, YearsWithCurrManager, EducationLevel.txt]
Index: []

[0 rows x 23 columns]

In [15]:
print("Unique EmployeeIDs in emp:", emp['EmployeeID'].nunique())
print("Unique EmployeeIDs in perf:", perf['EmployeeID'].nunique())
print("Duplicate EmployeeIDs in perf:", perf['EmployeeID'].duplicated().sum())

Unique EmployeeIDs in emp: 1470
Unique EmployeeIDs in perf: 1280
Duplicate EmployeeIDs in perf: 5429

In [16]:
emp['Salary'] = pd.to_numeric(emp['Salary'], errors='coerce')
print(emp['Salary'].isna().sum(), "missing salaries")

0 missing salaries

In [17]:
def detect_outliers_iqr(group):
    Q1 = group['Salary'].quantile(0.25)
    Q3 = group['Salary'].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    group['SalaryOutlier'] = ((group['Salary'] < lower) | (group['Salary'] > upper))
    return group

In [19]:
emp = emp.groupby(['JobRole', 'EducationLevel.txt'], group_keys=False).apply(detect_outliers_iqr)

C:\Users\LOQ\AppData\Local\Temp\ipykernel_13512\2835952854.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  emp = emp.groupby(['JobRole', 'EducationLevel.txt'], group_keys=False).apply(detect_outliers_iqr)

In [20]:
emp['SalaryOutlier']

0       False
1       False
2       False
3       False
4       False
        ...
1465    False
1466    False
1467    False
1468    False
1469    False
Name: SalaryOutlier, Length: 1470, dtype: bool

In [22]:
print("Total salary outliers:", emp['SalaryOutlier'].sum())

emp[emp['SalaryOutlier'] == True][['EmployeeID', 'JobRole', 'EducationLevel.txt', 'Salary']]

Total salary outliers: 53

     EmployeeID                    JobRole        EducationLevel.txt  Salary
56    5E73-CE19          Software Engineer               High School  314181
57    372C-E204             Data Scientist                   Masters  455643
79    0602-02AB                    Manager               High School  487746
95    F45B-1442               Hr Executive                 Bachelors  142773
113   2EC6-E2E0          Software Engineer                 Bachelors  144071
138   DC50-0336  Machine Learning Engineer               High School  272255
150   63BF-A86A               Hr Executive                 Bachelors  201564
175   06DE-E772            Sales Executive                 Bachelors  341971
177   1A7C-19DB        Engineering Manager                   Masters  539998
236   02DA-7A72       Sales Representative                 Bachelors   78726
281   801E-9D0E          Software Engineer                   Masters  439641
283   7B30-BAC8  Machine Learning Engineer                   Masters  366078
291   1A82-AF2C   Senior Software Engineer               High School  380248
312   74F2-5C55             Data Scientist               High School  108798
317   CD4D-7BBA          Software Engineer                   Masters  155786
321   B990-35DA             Data Scientist                 Bachelors  116165
344   66D5-3142             Data Scientist                 Bachelors  175692
363   ACA9-5DC2            Sales Executive  No Formal Qualifications  205159
388   6A0D-9C4D  Machine Learning Engineer               High School  265922
501   8EE9-E86D                  Recruiter                 Bachelors   48740
502   0C23-26DD       Sales Representative                 Bachelors   81389
506   CEE0-94C3       Sales Representative  No Formal Qualifications   70535
547   D13E-E661            Sales Executive               High School  298558
609   2C7D-F9F1  Machine Learning Engineer               High School  262409
639   9758-DE2F            Sales Executive                   Masters  319619
643   5C61-8F3A             Data Scientist  No Formal Qualifications  127432
727   12E5-9BD1   Senior Software Engineer                   Masters  297181
752   3994-472A          Software Engineer                 Bachelors  153909
757   2BEA-43B2          Software Engineer  No Formal Qualifications  103198
762   7335-4656  Machine Learning Engineer               High School  223124
764   DE6C-86FC          Software Engineer                   Masters  130665
768   B4E1-4A3E             Data Scientist               High School  115895
851   AFC3-E23F             Data Scientist               High School  423941
861   ED73-F078          Software Engineer  No Formal Qualifications  136521
866   4969-9A35          Software Engineer                   Masters  137427
888   9A87-71F6          Software Engineer                 Bachelors   95808
889   1C6C-3B67          Software Engineer                 Bachelors   96632
926   1BCC-100B  Machine Learning Engineer               High School  248115
936   8695-09EC  Machine Learning Engineer               High School  249325
942   DFE3-6FA7            Sales Executive                 Bachelors  350525
993   819A-2C9C             Data Scientist                 Bachelors  138989
1050  8233-2483                  Recruiter                 Bachelors   47995
1052  9169-FC4B               Hr Executive               High School  179561
1057  F3CD-9B5B       Sales Representative               High School   97794
1106  CD59-7F94            Sales Executive                   Masters  341039
1202  9085-1FE8             Data Scientist               High School  119917
1291  7B98-EA6F             Data Scientist                 Bachelors  108623
1303  CACA-0D62             Data Scientist                 Bachelors  121881
1307  5988-3855          Software Engineer  No Formal Qualifications   98693
1345  EB81-3E51   Senior Software Engineer                   Masters  268964
1368  DF11-9C46          Software Engineer               High School  152314
1376  9811-F345             Data Scientist                   Masters  142075
1401  DEB9-1BBF          Software Engineer                   Masters  155259

In [24]:
summary = emp.groupby(['JobRole', 'EducationLevel.txt']).agg(
    Avg_Salary=('Salary', 'mean'),
    Min_Salary=('Salary', 'min'),
    Max_Salary=('Salary', 'max'),
    Outliers=('SalaryOutlier', 'sum'),
    Total=('SalaryOutlier', 'count')
)
summary['Outlier_%'] = (summary['Outliers'] / summary['Total'] * 100).round(1)
summary.sort_values('Outlier_%', ascending=False).head(10)

,,Avg_Salary,Min_Salary,Max_Salary,Outliers,Total,Outlier_%
JobRole,EducationLevel.txt,,,,,,
Recruiter,Bachelors,33141.555556,23547,48740,2,9,22.2
Machine Learning Engineer,High School,119866.794118,46850,272255,6,34,17.6
Hr Executive,High School,84174.333333,49131,179561,1,6,16.7
Manager,High School,339495.666667,285620,487746,1,6,16.7
Hr Executive,Bachelors,94916.000000,41745,201564,2,13,15.4
Software Engineer,No Formal Qualifications,50387.621622,22515,136521,3,37,8.1
Data Scientist,High School,54823.172414,24504,423941,4,58,6.9
Sales Representative,High School,49624.666667,22558,97794,1,15,6.7
Software Engineer,Masters,58921.750000,22382,439641,5,80,6.2
Sales Representative,Bachelors,40633.031250,20650,81389,2,32,6.2

In [25]:
import numpy as np

emp['LogSalary'] = np.log(emp['Salary'])

In [26]:
def detect_outliers_log(group):
    Q1 = group['LogSalary'].quantile(0.25)
    Q3 = group['LogSalary'].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    group['SalaryOutlier'] = (group['LogSalary'] < lower) | (group['LogSalary'] > upper)
    return group

emp = emp.groupby(['JobRole', 'EducationLevel.txt'], group_keys=False).apply(detect_outliers_log)

C:\Users\LOQ\AppData\Local\Temp\ipykernel_13512\2907669459.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  emp = emp.groupby(['JobRole', 'EducationLevel.txt'], group_keys=False).apply(detect_outliers_log)

In [28]:
salary_outlier_table = emp[emp['SalaryOutlier'] == True][
    ['EmployeeID', 'JobRole', 'EducationLevel.txt', 'Salary', 'LogSalary']
].sort_values('Salary', ascending=False)

print("Number of salary outliers:", salary_outlier_table.shape[0])
salary_outlier_table.head(10)

Number of salary outliers: 16

     EmployeeID              JobRole EducationLevel.txt  Salary  LogSalary
177   1A7C-19DB  Engineering Manager            Masters  539998  13.199321
79    0602-02AB              Manager        High School  487746  13.097550
57    372C-E204       Data Scientist            Masters  455643  13.029465
281   801E-9D0E    Software Engineer            Masters  439641  12.993714
851   AFC3-E23F       Data Scientist        High School  423941  12.957350
56    5E73-CE19    Software Engineer        High School  314181  12.657725
150   63BF-A86A         Hr Executive          Bachelors  201564  12.213862
1052  9169-FC4B         Hr Executive        High School  179561  12.098270
344   66D5-3142       Data Scientist          Bachelors  175692  12.076488
752   3994-472A    Software Engineer          Bachelors  153909  11.944117

In [30]:
emp.to_csv("C:/Users/LOQ/Desktop/HR/Salary_Outlier_Review.csv", index=False)

In [32]:
import numpy as np
import pandas as pd


avg_salary = (
    emp[~emp['SalaryOutlier']]
    .groupby(['JobRole', 'EducationLevel.txt'])['Salary']
    .mean()
    .reset_index()
    .rename(columns={'Salary': 'Avg_Salary_NoOutliers'})
)


emp = emp.merge(avg_salary, on=['JobRole', 'EducationLevel.txt'], how='left')


emp['Avg_Salary_NoOutliers'] = emp.groupby('JobRole')['Avg_Salary_NoOutliers'].transform(
    lambda x: x.fillna(x.mean())
)


emp['Salary_Cleaned'] = np.where(emp['SalaryOutlier'], emp['Avg_Salary_NoOutliers'], emp['Salary'])


emp.to_csv("C:/Users/LOQ/Desktop/HR/Salary_Cleaned.csv", index=False)

In [34]:

invalid_perf = perf[~perf['EmployeeID'].isin(emp['EmployeeID'])]
print("Performance records without a valid employee:", invalid_perf.shape[0])


if 'EmploymentStatus' in emp.columns:
    invalid_attrition = emp[(emp['Attrition'] == 'Yes') & (emp['EmploymentStatus'] == 'Active')]
    print("Inconsistent attrition records:", invalid_attrition.shape[0])


merged = perf.merge(emp[['EmployeeID', 'HireDate']], on='EmployeeID', how='left')
invalid_dates = merged[merged['ReviewDate'] < merged['HireDate']]
print("Performance reviews before hire date:", invalid_dates.shape[0])

Performance records without a valid employee: 0
Performance reviews before hire date: 3290

In [35]:
invalid_perf.to_csv("C:/Users/LOQ/Desktop/HR/Invalid_Performance.csv", index=False)
invalid_dates.to_csv("C:/Users/LOQ/Desktop/HR/Invalid_Dates.csv", index=False)

In [36]:

emp['JobRole'] = emp['JobRole'].str.strip()
emp['Department'] = emp['Department'].str.strip()

emp.loc[(emp['JobRole'] == 'Sales Executive') & (emp['Department'] == 'Technical'), 'Department'] = 'Sales'

In [38]:
perf['ReviewDate'] = pd.to_datetime(perf['ReviewDate'], errors='coerce')

In [39]:
trend = (
    perf.merge(emp[['EmployeeID', 'Department', 'JobRole']], on='EmployeeID', how='left')
    .groupby([pd.Grouper(key='ReviewDate', freq='M'), 'Department'])
    .agg({
        'EmployeeID': 'nunique',
        'RatingLevel': lambda x: x.value_counts().idxmax() if not x.empty else np.nan,
        'TrainingOpportunitiesTaken': 'mean'
    })
    .reset_index()
    .rename(columns={
        'EmployeeID': 'EmployeeCount',
        'RatingLevel': 'Most_Common_Rating',
        'TrainingOpportunitiesTaken': 'Avg_Trainings_Taken'
    })
)

trend.to_csv("C:/Users/LOQ/Desktop/HR/Trend_Dataset.csv", index=False)

C:\Users\LOQ\AppData\Local\Temp\ipykernel_13512\230780819.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .groupby([pd.Grouper(key='ReviewDate', freq='M'), 'Department'])

In [40]:
emp['HireDate'] = pd.to_datetime(emp['HireDate'], errors='coerce')
perf['ReviewDate'] = pd.to_datetime(perf['ReviewDate'], errors='coerce')

In [41]:
merged_dates = perf.merge(emp[['EmployeeID', 'HireDate']], on='EmployeeID', how='left')

In [42]:
invalid_reviews = merged_dates[merged_dates['ReviewDate'] < merged_dates['HireDate']]
print("Number of invalid review records:", invalid_reviews.shape[0])

Number of invalid review records: 1141

In [43]:
invalid_reviews.to_csv("C:/Users/LOQ/Desktop/HR/Invalid_ReviewDates.csv", index=False)

In [44]:
merged_dates = merged_dates[merged_dates['ReviewDate'] >= merged_dates['HireDate']]

In [45]:
merged_dates = merged_dates.drop(columns=['HireDate'])

In [46]:
perf_cleaned = merged_dates.drop_duplicates()

In [49]:
perf_cleaned.columns.tolist()

['PerformanceID',
 'EmployeeID',
 'ReviewDate',
 'TrainingOpportunitiesWithinYear',
 'TrainingOpportunitiesTaken',
 'EnviromentSatisfactionLevel',
 'JobSatisfactionLevel',
 'RelationshipSatisfactionLevel',
 'SatisfactionLevel',
 'SelfRatingLevel',
 'RatingLevel']

In [50]:
import pandas as pd

emp.to_csv("C:/Users/LOQ/Desktop/HR/Employee_Cleaned.csv", index=False)

perf_cleaned.to_csv("C:/Users/LOQ/Desktop/HR/Performance_Cleaned.csv", index=False)

perf_latest = (
    perf_cleaned.sort_values(by=['EmployeeID', 'ReviewDate'], ascending=[True, False])
    .drop_duplicates(subset=['EmployeeID'], keep='first')
)


HR_complete = emp.merge(perf_latest, on='EmployeeID', how='left')

HR_complete.to_csv("C:/Users/LOQ/Desktop/HR/HR_Complete.csv", index=False)

print("âœ… All three tables saved successfully!")
print("Files created:")
print("- Employee_Cleaned.csv")
print("- Performance_Cleaned.csv")
print("- HR_Complete.csv")

âœ… All three tables saved successfully!
Files created:
- Employee_Cleaned.csv
- Performance_Cleaned.csv
- HR_Complete.csv